<a href="https://colab.research.google.com/github/Ciastkk45/kursAI-sb10/blob/main/4_biblioteka_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np


data = {"Ania" : 25, "Jan" : 30, "Kasia" : 22}
s = pd.Series(data)
print(s)

s2 = pd.Series([18,16,17,20, np.nan], index = ["Kuba", "Ania", "Marek","Wojtek", "Nieznajomy"])
print(s2)
print(f"Rozmiar serii:{s2.size}")
print(f"Kształt serii:{s2.shape}")
print(f"Typ danych w serii:{s2.dtype}")
print(f"Indexy w serii:{s2.index}")
print(f"Wartości w serii:{s2.values}")
print(f"Wartości w serii: {s2['Marek']}")
print(f"Wartości w serii: {s2.iloc[2]}")

Ania     25
Jan      30
Kasia    22
dtype: int64
Kuba          18.0
Ania          16.0
Marek         17.0
Wojtek        20.0
Nieznajomy     NaN
dtype: float64
Rozmiar serii:5
Kształt serii:(5,)
Typ danych w serii:float64
Indexy w serii:Index(['Kuba', 'Ania', 'Marek', 'Wojtek', 'Nieznajomy'], dtype='object')
Wartości w serii:[18. 16. 17. 20. nan]
Wartości w serii: 17.0
Wartości w serii: 17.0

In [14]:
dane = {
    "cena" : [15,20,17],
    "ilosc" : [50,40,45]
}
df = pd.DataFrame(dane, index = ["dzień 1", "dzień 2", "dzień 3"])
print(df)
print(df["cena"])
print(df.loc["dzień 2"])
print(df.info())

         cena  ilosc
dzień 1    15     50
dzień 2    20     40
dzień 3    17     45
dzień 1    15
dzień 2    20
dzień 3    17
Name: cena, dtype: int64
cena     20
ilosc    40
Name: dzień 2, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, dzień 1 to dzień 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cena    3 non-null      int64
 1   ilosc   3 non-null      int64
dtypes: int64(2)
memory usage: 180.0+ bytes
None

In [15]:
df = pd.read_excel("Gigathon_Wyniki.xlsx")
print(df)

         Imię  Wiek  Punktacja
0      Łukasz    18       51.0
1   Magdalena    18       52.0
2    Radosław    15       46.0
3      Patryk    15       52.0
4        Anna    14      110.0
5     Dagmara    16        NaN
6      Tomasz    16      112.0
7    Weronika    17      104.0
8     Nikodem    17       97.0
9      Bartek    14        NaN
10      Jakub    16       61.0
11   Gabriela    16       92.0
12     Hubert    15      120.0
13    Zuzanna    13       70.0
14     Oliwia    14       84.0
15      Filip    16      100.0
16    Ewelina    17       98.0
17   Karolina    14       63.0
18     Xawery    17       39.0
19     Cezary    13        NaN
20        Iga    15       77.0
21    Urszula    14      102.0
22        Jan    17      102.0
23     Michał    15        NaN
24  Katarzyna    18       68.0

In [16]:
print(df.head(5))

        Imię  Wiek  Punktacja
0     Łukasz    18       51.0
1  Magdalena    18       52.0
2   Radosław    15       46.0
3     Patryk    15       52.0
4       Anna    14      110.0

In [17]:
print(df.tail(5))

         Imię  Wiek  Punktacja
20        Iga    15       77.0
21    Urszula    14      102.0
22        Jan    17      102.0
23     Michał    15        NaN
24  Katarzyna    18       68.0

In [18]:
df["Wynik procentowy"] = df["Punktacja"]/120*100
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy
0      Łukasz    18       51.0         42.500000
1   Magdalena    18       52.0         43.333333
2    Radosław    15       46.0         38.333333
3      Patryk    15       52.0         43.333333
4        Anna    14      110.0         91.666667
5     Dagmara    16        NaN               NaN
6      Tomasz    16      112.0         93.333333
7    Weronika    17      104.0         86.666667
8     Nikodem    17       97.0         80.833333
9      Bartek    14        NaN               NaN
10      Jakub    16       61.0         50.833333
11   Gabriela    16       92.0         76.666667
12     Hubert    15      120.0        100.000000
13    Zuzanna    13       70.0         58.333333
14     Oliwia    14       84.0         70.000000
15      Filip    16      100.0         83.333333
16    Ewelina    17       98.0         81.666667
17   Karolina    14       63.0         52.500000
18     Xawery    17       39.0         32.500000
19     Cezary    13        NaN               NaN
20        Iga    15       77.0         64.166667
21    Urszula    14      102.0         85.000000
22        Jan    17      102.0         85.000000
23     Michał    15        NaN               NaN
24  Katarzyna    18       68.0         56.666667

In [19]:
df.dropna(inplace = True)
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy
0      Łukasz    18       51.0         42.500000
1   Magdalena    18       52.0         43.333333
2    Radosław    15       46.0         38.333333
3      Patryk    15       52.0         43.333333
4        Anna    14      110.0         91.666667
6      Tomasz    16      112.0         93.333333
7    Weronika    17      104.0         86.666667
8     Nikodem    17       97.0         80.833333
10      Jakub    16       61.0         50.833333
11   Gabriela    16       92.0         76.666667
12     Hubert    15      120.0        100.000000
13    Zuzanna    13       70.0         58.333333
14     Oliwia    14       84.0         70.000000
15      Filip    16      100.0         83.333333
16    Ewelina    17       98.0         81.666667
17   Karolina    14       63.0         52.500000
18     Xawery    17       39.0         32.500000
20        Iga    15       77.0         64.166667
21    Urszula    14      102.0         85.000000
22        Jan    17      102.0         85.000000
24  Katarzyna    18       68.0         56.666667

In [20]:
df.sort_values(by = "Punktacja", ascending = False, inplace = True)
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy
12     Hubert    15      120.0        100.000000
6      Tomasz    16      112.0         93.333333
4        Anna    14      110.0         91.666667
7    Weronika    17      104.0         86.666667
22        Jan    17      102.0         85.000000
21    Urszula    14      102.0         85.000000
15      Filip    16      100.0         83.333333
16    Ewelina    17       98.0         81.666667
8     Nikodem    17       97.0         80.833333
11   Gabriela    16       92.0         76.666667
14     Oliwia    14       84.0         70.000000
20        Iga    15       77.0         64.166667
13    Zuzanna    13       70.0         58.333333
24  Katarzyna    18       68.0         56.666667
17   Karolina    14       63.0         52.500000
10      Jakub    16       61.0         50.833333
3      Patryk    15       52.0         43.333333
1   Magdalena    18       52.0         43.333333
0      Łukasz    18       51.0         42.500000
2    Radosław    15       46.0         38.333333
18     Xawery    17       39.0         32.500000

In [22]:
df["Zakwalifikowany"] = df["Wynik procentowy"] >= 70
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy  Zakwalifikowany
12     Hubert    15      120.0        100.000000             True
6      Tomasz    16      112.0         93.333333             True
4        Anna    14      110.0         91.666667             True
7    Weronika    17      104.0         86.666667             True
22        Jan    17      102.0         85.000000             True
21    Urszula    14      102.0         85.000000             True
15      Filip    16      100.0         83.333333             True
16    Ewelina    17       98.0         81.666667             True
8     Nikodem    17       97.0         80.833333             True
11   Gabriela    16       92.0         76.666667             True
14     Oliwia    14       84.0         70.000000             True
20        Iga    15       77.0         64.166667            False
13    Zuzanna    13       70.0         58.333333            False
24  Katarzyna    18       68.0         56.666667            False
17   Karolina    14       63.0         52.500000            False
10      Jakub    16       61.0         50.833333            False
3      Patryk    15       52.0         43.333333            False
1   Magdalena    18       52.0         43.333333            False
0      Łukasz    18       51.0         42.500000            False
2    Radosław    15       46.0         38.333333            False
18     Xawery    17       39.0         32.500000            False

In [23]:
zestawienie = df.groupby(["Zakwalifikowany", "Wiek"])[["Punktacja", "Wynik procentowy"]].agg(["count","min","max","mean","median"])
print(zestawienie)

                     Punktacja                                   \
                         count    min    max        mean median
Zakwalifikowany Wiek
False           13           1   70.0   70.0   70.000000   70.0
                14           1   63.0   63.0   63.000000   63.0
                15           3   46.0   77.0   58.333333   52.0
                16           1   61.0   61.0   61.000000   61.0
                17           1   39.0   39.0   39.000000   39.0
                18           3   51.0   68.0   57.000000   52.0
True            14           3   84.0  110.0   98.666667  102.0
                15           1  120.0  120.0  120.000000  120.0
                16           3   92.0  112.0  101.333333  100.0
                17           4   97.0  104.0  100.250000  100.0

                     Wynik procentowy                                      \
                                count         min         max        mean
Zakwalifikowany Wiek
False           13                  1   58.333333   58.333333   58.333333
                14                  1   52.500000   52.500000   52.500000
                15                  3   38.333333   64.166667   48.611111
                16                  1   50.833333   50.833333   50.833333
                17                  1   32.500000   32.500000   32.500000
                18                  3   42.500000   56.666667   47.500000
True            14                  3   70.000000   91.666667   82.222222
                15                  1  100.000000  100.000000  100.000000
                16                  3   76.666667   93.333333   84.444444
                17                  4   80.833333   86.666667   83.541667


                          median
Zakwalifikowany Wiek
False           13     58.333333
                14     52.500000
                15     43.333333
                16     50.833333
                17     32.500000
                18     43.333333
True            14     85.000000
                15    100.000000
                16     83.333333
                17     83.333333

In [27]:
df_zakwalifikowani = df[df["Zakwalifikowany"]]
df_zakwalifikowani.drop("Zakwalifikowany", axis = 1, inplace = True)
df_zakwalifikowani.to_excel("zakwalifikowani.xlsx")
print(df_zakwalifikowani)

        Imię  Wiek  Punktacja  Wynik procentowy
12    Hubert    15      120.0        100.000000
6     Tomasz    16      112.0         93.333333
4       Anna    14      110.0         91.666667
7   Weronika    17      104.0         86.666667
22       Jan    17      102.0         85.000000
21   Urszula    14      102.0         85.000000
15     Filip    16      100.0         83.333333
16   Ewelina    17       98.0         81.666667
8    Nikodem    17       97.0         80.833333
11  Gabriela    16       92.0         76.666667
14    Oliwia    14       84.0         70.000000

<ipython-input-27-2620cfcb0d99>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zakwalifikowani.drop("Zakwalifikowany", axis = 1, inplace = True)

In [28]:
df_niezakwalifikowani = df[~df["Zakwalifikowany"]]
df_niezakwalifikowani.drop("Zakwalifikowany", axis = 1, inplace = True)
df_niezakwalifikowani.to_excel("niezakwalifikowani.xlsx")
print(df_niezakwalifikowani)

         Imię  Wiek  Punktacja  Wynik procentowy
20        Iga    15       77.0         64.166667
13    Zuzanna    13       70.0         58.333333
24  Katarzyna    18       68.0         56.666667
17   Karolina    14       63.0         52.500000
10      Jakub    16       61.0         50.833333
3      Patryk    15       52.0         43.333333
1   Magdalena    18       52.0         43.333333
0      Łukasz    18       51.0         42.500000
2    Radosław    15       46.0         38.333333
18     Xawery    17       39.0         32.500000

<ipython-input-28-54b6b1b22ac1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_niezakwalifikowani.drop("Zakwalifikowany", axis = 1, inplace = True)

In [30]:
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("Pokemon.csv")
print(df.head(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
1  2                    Ivysaur  Grass  Poison    405  60      62       63
2  3                   Venusaur  Grass  Poison    525  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9  7                   Squirtle  Water     NaN    314  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False

In [37]:
unique_types = df["Type 1"].nunique()
print("Liczba unikalnych typów (Type 1):", unique_types)

Liczba unikalnych typów (Type 1): 18

In [38]:
legendarne_liczba = df[df["Legendary"] == True].shape[0]
print("Liczba legendarnych pokemonów:", legendarne_liczba)

Liczba legendarnych pokemonów: 65

In [39]:
bez_type2 = df[df["Type 2"].isnull()].shape[0]
print("Liczba pokemonów bez typu 2:", bez_type2)

Liczba pokemonów bez typu 2: 386